@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;900&display=swap");
@import "reset.css";
@import "vars.css";
@import url("https://unpkg.com/lucide-static@latest/font/lucide.css");

@import "weather.css";
@import "clock.css";
@import "background.css";
@import "login-form.css";
@import "greeting.css";
@import "todo-form.css";
@import "todo-list.css";
@import "quote.css";

.hidden {
	display: none;
}

body {
	height: 99vh;
	color: white;
}

input {
	border: none;
	font-size: 20px;
	padding: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	transition: border-bottom 0.3s ease-in-out;
	background-color: transparent;
	color: white;
}
input::placeholder {
	color: rgba(255, 255, 255, 0.8);
}
input:focus {
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
	padding: 80px 0 0 0;
}

.footer {
	padding: 0 0 30px 0;
}
